<main>
  <div class="index-heading-container">
    <h1>All Articles</h1>
    <%= link_to "+", new_article_path, class: "new-link" %>
  </div>
  
  <div class="articles-container">
    <% @articles.each do |article| %>
    <div class="article-card">
      <h2><%= link_to article.title, article %></h2>
      <p><%= article.body.truncate(300) %></p>
    </div>
    <% end %>
  </div>
  
</main>
