/* reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family:Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

/* end of reset */

.header_image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.63);
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
}

.title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 700;
}

nav a {
  color: white;
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
}

main {
  width: 50%;
  margin: 0 auto;
}
.index-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 0px 0;
}

.form-heading {
  padding: 15px 0 0px 0;
}

h1 {
  margin-left: 15px;
}

.form-heading h1 {
  text-align: center;
}

.new-link {
  font-size: 35px;
  font-weight: 700;
  margin: 0 15px;
  text-decoration: none;
  color: #12374b;
}

.new-link:hover {
  text-decoration: none;
  color: #23719b;
  text-shadow: 1px 1px 3px black;
}

.article-card, form {
  border: 3px solid #317aa5;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 7px 0;
}

h2 a {
  color: #12374b;
  text-decoration: none;
}

h2 a:hover {
  color: #23719b;
}

h2 {
  margin: 5px 0;
  font-size: 20px;
}

input {
  min-width: 40%;
  max-width: 100%;
}

textarea {
  width: 100%;
  min-height: 150px;
}

input, textarea {
  margin-bottom: 10px;
  padding: 3px 5px;
  field-sizing: content;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit > input {
  padding: 5px 10px;
  background-color: #2c86b6;
  border: none;
  border-radius: 5px;
  color: white;
}

.submit > input:hover {
  background-color: #349cd4;
}

